@page "/House/New"
@using Microsoft.AspNetCore.Authorization
@inject IHttpClientFactory HttpClientFactory
@inject IToastService toastService

@attribute [Authorize]

<Jumbotron Header="Add New House" />
<FormContainer Header="Fill the form below and become admin of the new house.">
    <EditForm Model="@house" OnValidSubmit="PostHouse">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Name</label>
            <InputText @bind-Value="house.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Address</label>
            <InputTextArea @bind-Value="house.Address" class="form-control" />
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary" type="submit">@((MarkupString)submitBtnText)</button>
        </div>
    </EditForm>
</FormContainer>
@code {
    private HouseVM house = new HouseVM();
    private string submitBtnText = "Submit";

    public async Task PostHouse()
    {
        try
        {
            using (HttpClient Http = HttpClientFactory.CreateClient("Collektions.ServerAPI"))
            {
                submitBtnText = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Loading...";

                var rtn = await Http.PostAsJsonAsync("api/house", house);
                var rtnHouse = await rtn.Content.ReadFromJsonAsync<HouseVM>();

                toastService.ShowSuccess($"House '{rtnHouse.Name}' was added successfully.", "Success");

                submitBtnText = "Submit";
            }
        }
        catch (Exception)
        {
            toastService.ShowError($"An error occured when posting house with Name = {house.Name}.", "Error!");
            //err = ex.ToString();
        }
    }
}
