<div class="jumbotron">
    <div class="container">
        <h2 class="display-4">@Header</h2>
        @if (!string.IsNullOrWhiteSpace(Subheader))
        {
            <hr class="my-3" />
            <p class="lead">@Subheader</p>
        }
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public string Subheader { get; set; }
}
